.resume-container {
    /* z-index: 11111; */
    /* margin-top: 84px; */
    background: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3px;



.resume-tab {
    color: black;
}

.resume-tab h1 {
    color: black;
    font-size: 27px;
    font-weight: bolder;
}

.resume-tab h5 {
    font-size: 12px;
    margin-bottom: 14px;
}

.bar {
    position: relative;
    margin: 0 auto;
    width: 143px;
}

span.line-bar {
    border: 2px solid black;
    height: 0px;
    width: 133px;
    display: block;
    background: black;
    position: absolute;
    // left: -4px;
    /* margin-bottom: 30px; */
    border-radius: 84px;
}
span.orange-bar {
    border: 1.5px solid #ff5823;
    height: 8px;
    width: 22px;
    display: block;
    background: #ff5823;
    border-radius: 53px;
    position: absolute;
    top: -3.5px;
    left: 54px;
}




@mixin user-select($select) {
  @each $pre in -webkit-, -moz-, -ms-, -o- {
    #{$pre + user-select}: #{$select};
  } 
  #{user-select}: #{$select};
}


/* colors */
$blue: #428BFF;
$red: #FF4A53;
$dark: #333;

$accent: $blue;
$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;


/* tab setting */
$tab-count: 5;
$indicator-width: 50px;
$indicator-height: 4px;

/* breakpoints */
$breakpoints: (
  medium: #{$tab-count*250px},
  small: #{$tab-count*150px}
);


/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

@mixin tabs(
  $label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector) {
    
  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}


.tabs {
  left: 34%;
  top: 53px;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 80px;
  width: 70%;
  height: 432px;
  overflow-y: scroll;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: #{$tab-count * 60px};
  input[name="tab-control"] {
    display: none;
  }
  
  .content section h2,
  ul li label {
    font-weight: bold;
    font-size: 18px;
    color: $accent;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    
    li {
      box-sizing: border-box;
      flex: 1;
      width: #{100%/$tab-count};
      padding: 0 10px;
      text-align: center;
      
   

      label {
        transition: all 0.3s ease-in-out;
        color: $secondary;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;
        @include user-select(none);
        
        br {
          display: none;
        }
        
        svg {
          fill: $secondary;
          height: 1.2em;
          vertical-align: bottom;
          margin-right: 0.3em;
          margin-bottom: 4px;
          transition: all 0.2s ease-in-out;
        }
        
        &:hover,
        &:focus,
        &:active {
          outline: 0;
          color: lighten($secondary, 15%);
          svg {
            fill: lighten($secondary, 15%);
          }
        }
      }
    }
  }
  
  .slider {
    position: relative;
    width: #{100%/$tab-count};
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    .indicator {
      position: relative;
      width: $indicator-width;
      max-width: 100%;
      margin: 0 auto;
      height: $indicator-height;
      background: $accent;
      border-radius: 1px;     
    }

  }
  
  .content {
    margin-top: 30px;
   
    section {
      display: none;
      animation: {
        name: content;
        direction: normal;
        duration: 0.3s;
        timing-function: ease-in-out;
        iteration-count: 1;
      }
      line-height: 1.4;
      
      h2 {
        color: $accent;
        display: none;
        &::after {
          content: "";
          position: relative;
          display: block;
          width: 30px;
          height: 3px;
          background: $accent;
          margin-top: 5px;
          left: 1px;
        }
      }
    }
  }
  
  input[name="tab-control"] {
    @include tabs {
      > label {
        cursor: default;
        color: $accent;
        
        svg {
          fill: $accent;
        }
        
        @media (max-width: map-get($breakpoints, small)) {
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }
  }

  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  @media (max-width: map-get($breakpoints, medium)) {
    ul li label {
      white-space: initial;
      
      br {
        display: initial;
      }
      
      svg {
        height: 1.5em;
      }
    }
  }
  
  @media (max-width: map-get($breakpoints, small)) {
    ul li label {
      padding: 5px;
      border-radius: 5px;
      
      span {
        display: none;
      }
    }
    
    .slider {
      display: none;
    }
    
    .content {
      margin-top: 20px; 
      section h2 {
        display: block;
      }
    }
  }
}


.education-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.edu-dot {
  display: flex;
  gap: 7px;
  width: 100%;
}

.edu-decs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  flex-basis: 100%;

}

.edu-domain{
  color: #ff5823;
  font-weight: 700;
  margin-bottom: 10px;
  display: flex;
    justify-content: space-between;
    width: 100%;

}

.edu-year{
  span{
    background-color: #ff5823;
    padding: 2px 6px 5px 6px;
    color: #fff;
    border-radius: 25px;
    line-height: 0px;
  }
}

.edu-role {
  font-weight: 700;
  line-height: 41px;
}

.project-title{
  font-weight: 500;
  line-height: 30px;
}


.responsibility {
  font-weight: 600;
  line-height: 48px;
}

.responsibile-desc {
  text-align: initial;
  line-height: 25px;
}

.edu-year {
  flex-basis: 40%;
}

.red-bar {
  color: #ff5823;
  height: 17px;
  position: relative;
  background-color: #ff5823;
}

.black-bar{
  background-color: #000;
  height: 17px;   
}
.bar-chart {
  display: flex;
}


.tech-dec{
  font-weight: 500;
}



}

.resume-container {
@media only screen and (max-width: 600px) {
  
  padding: 20px;
  .tabs {
    position: initial !important;
    width: 100% !important;
    min-width: 100%;
    transform: initial;
    margin-top: 30px;
}
  
//   span.line-bar {
//  left: -9px;
//  }

  span.orange-bar {

 top: -3.5px;
 left: 52px;
}

  .tabs {
 left: 42.3%;
 background: white;
 padding: 13px;
 width: 70%;

}

.edu-domain {
font-size: 14px;
}
.edu-year span {
padding: 2px 6px 3px 6px;
font-size: 10px !important;
}

.edu-decs {
text-align: initial;
}
.edu-decs span {
font-size: 13px;
}
.edu-year {
flex-basis: auto;
}
.resume-head {
flex-basis: 66%;
}

.tabs {
position: initial !important;
}
}

}


